.intro {
    display: flex;
    background-color: white;
    .left {
        flex: 0.5;
        background-color: lightpink;
    }
    .right {
        flex: 0.5;
        background-color: lightseagreen;
    }
}